@page "/pages/companies"

@using CleanArchitecture.Blazor.Application.Features.Companies.Caching
@using CleanArchitecture.Blazor.Application.Features.Companies.DTOs
@using CleanArchitecture.Blazor.Application.Features.Companies.Specifications
@using CleanArchitecture.Blazor.Application.Features.Companies.Commands.Delete
@using CleanArchitecture.Blazor.Application.Features.Companies.Commands.Import
@using CleanArchitecture.Blazor.Application.Features.Companies.Queries.Export
@using CleanArchitecture.Blazor.Application.Features.Companies.Queries.Pagination
@using CleanArchitecture.Blazor.Application.Features.Companies.Commands.AddEdit

@using CleanArchitecture.Blazor.Server.UI.Pages.Companies.Components

@inject IStringLocalizer<Companies> L
@inject BlazorDownloadFileService BlazorDownloadFileService

@attribute [Authorize(Policy = Permissions.Companies.View)]
<PageTitle>@Title</PageTitle>

<MudDataGrid ServerData="@(ServerReload)"
                  FixedHeader="true"
                  FixedFooter="false"
                  Virtualize="false"
                  @bind-RowsPerPage="_defaultPageSize"
                  Loading="@_loading"
                  MultiSelection="true"
                  T="CompanyDto"
                  SelectOnRowClick="false"
                  RowClick="@(s=>OnDataGridRowClick(s.Item))"
                  @bind-SelectedItems="_selectedCompanies"
                  Hover="true" @ref="_companiesGrid">
            <ToolBarContent>
                 <MudStack Row Spacing="0" Class="flex-grow-1" Justify="Justify.SpaceBetween">
            <MudStack Row AlignItems="AlignItems.Start">
                <MudIcon Icon="@Icons.Material.Filled.Window" Size="Size.Large" />
                <MudStack Spacing="0">
                    <MudText Typo="Typo.subtitle2" Class="mb-2">@Title</MudText>
                    <MudEnumSelect Style="min-width:120px" TEnum="CompanyListView" ValueChanged="OnListViewChanged" Value="_companiesQuery.ListView" Dense="true" Label="@L["List View"]">
                    </MudEnumSelect>
                </MudStack>
            </MudStack>
            <MudStack Spacing="0" AlignItems="AlignItems.End">
                <MudToolBar Dense WrapContent="true" Class="py-1 px-0">
                    <MudButton Disabled="@_loading"
                               OnClick="@(() => OnRefresh())"
                               StartIcon="@Icons.Material.Outlined.Refresh">
                        @ConstantString.Refresh
                    </MudButton>
                    @if (_accessRights.Create)
                    {
                        <MudButton StartIcon="@Icons.Material.Outlined.Add"
                                   OnClick="OnCreate">
                            @ConstantString.New
                        </MudButton>
                    }
                    <MudMenu TransformOrigin="Origin.BottomRight" AnchorOrigin="Origin.BottomRight" EndIcon="@Icons.Material.Filled.MoreVert" Label="@ConstantString.More">
                        @if (_accessRights.Create)
                        {
                            <MudMenuItem Disabled="@(_selectedCompanies.Count != 1)" OnClick="OnCloneCompany">@ConstantString.Clone</MudMenuItem>
                        }
                        @if (_accessRights.Delete)
                        {
                            <MudMenuItem Disabled="@(!(_selectedCompanies.Count > 0))"
                                         OnClick="OnDeleteSelectedCompanies">
                                @ConstantString.Delete
                            </MudMenuItem>
                        }
                        @if (_accessRights.Export)
                        {
                            <MudMenuItem Disabled="@_exporting"
                                         OnClick="OnExport">
                                @ConstantString.Export
                            </MudMenuItem>
                        }
                        @if (_accessRights.Import)
                        {
                            <MudMenuItem>
                                <MudFileUpload T="IBrowserFile" FilesChanged="OnImportData" Accept=".xlsx">
                                    <ActivatorContent>
                                        <MudButton Class="pa-0 ma-0" Style="font-weight:400;text-transform:none;"
                                                   Variant="Variant.Text"
                                                   Disabled="@_uploading">
                                            @ConstantString.Import
                                        </MudButton>
                                    </ActivatorContent>
                                </MudFileUpload>
                            </MudMenuItem>
                        }
                    </MudMenu>
                </MudToolBar>
                <MudStack Row Spacing="1">
                    @if (_accessRights.Search)
                    {
                        <MudTextField T="string" ValueChanged="@(s => OnSearch(s))" Value="@_companiesQuery.Keyword" Placeholder="@ConstantString.Search" Adornment="Adornment.End"
                                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Small">
                        </MudTextField>
                    }
                </MudStack>
            </MudStack>
        </MudStack>
            </ToolBarContent>
            <Columns>
                <SelectColumn ShowInFooter="false"></SelectColumn>
                <TemplateColumn HeaderStyle="width:60px" Title="@ConstantString.Actions" Sortable="false">
                    <CellTemplate>
                        @if (_accessRights.Edit || _accessRights.Delete)
                        {
                            <MudMenu Icon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Size="Size.Small"
                                     Dense="true"
                                     EndIcon="@Icons.Material.Filled.KeyboardArrowDown" IconColor="Color.Info" AnchorOrigin="Origin.CenterLeft">
                                @if (_accessRights.Edit)
                                {
                                    <MudMenuItem OnClick="@(()=>OnEditCompany(context.Item))">@ConstantString.Edit</MudMenuItem>
                                }
                                @if (_accessRights.Delete)
                                {
                                    <MudMenuItem OnClick="@(()=>OnDeleteCompany(context.Item))">@ConstantString.Delete</MudMenuItem>
                                }
                            </MudMenu>
                        }
                        else
                        {
                            <MudIconButton Variant="Variant.Filled"  
                                       Disabled="true"
                                       Icon="@Icons.Material.Filled.DoNotTouch"
                                       Size="Size.Small"
                                       Color="Color.Surface">
                                @ConstantString.NoAllowed
                            </MudIconButton>
                        }
                    </CellTemplate>
                </TemplateColumn>
                @*TODO: Define the fields that should be displayed in data table*@
                <PropertyColumn Property="x => x.Name" Title="@L[_companyDto.GetMemberDescription(x=>x.Name)]"> 
   <CellTemplate>
      <div class="d-flex flex-column">
        <MudText Typo="Typo.body1">@context.Item.Name</MudText>
     </div>
    </CellTemplate>
</PropertyColumn>
                <PropertyColumn Property="x => x.VatNumber" Title="@L[_companyDto.GetMemberDescription(x=>x.VatNumber)]" />
                <PropertyColumn Property="x => x.Address" Title="@L[_companyDto.GetMemberDescription(x=>x.Address)]" />
                <PropertyColumn Property="x => x.Country" Title="@L[_companyDto.GetMemberDescription(x=>x.Country)]" />
                <PropertyColumn Property="x => x.Website" Title="@L[_companyDto.GetMemberDescription(x=>x.Website)]" />
                <PropertyColumn Property="x => x.Industry" Title="@L[_companyDto.GetMemberDescription(x=>x.Industry)]" />

            </Columns>
            <NoRecordsContent>
                <MudText>@ConstantString.NoRecords</MudText>
            </NoRecordsContent>
            <LoadingContent>
                <MudText>@ConstantString.Loading</MudText>
            </LoadingContent>
            <PagerContent>
                <MudDataGridPager PageSizeOptions="@(new int[]{10,15,30,50,100,500,1000})" />
            </PagerContent>
</MudDataGrid>



@code {
    public string? Title { get; private set; }
    private int _defaultPageSize = 15;
    private HashSet<CompanyDto> _selectedCompanies = new HashSet<CompanyDto>();
    private MudDataGrid<CompanyDto> _companiesGrid = default!;
    private CompanyDto _companyDto = new();
    private bool _loading;
    private bool _uploading;
    private bool _exporting;
    [CascadingParameter]
    private Task<AuthenticationState> AuthState { get; set; } = default!;
    [CascadingParameter]
    private UserProfile? UserProfile { get; set; }


    private CompaniesWithPaginationQuery _companiesQuery { get; set; } = new();
    private CompaniesAccessRights _accessRights = new();

    protected override async Task OnInitializedAsync()
    {
        Title = L[_companyDto.GetClassDescription()];
        _accessRights = await PermissionService.GetAccessRightsAsync<CompaniesAccessRights>(); 
    }
     
    private async Task<GridData<CompanyDto>> ServerReload(GridState<CompanyDto> state)
    {
        try
        {
            _loading = true;
            _companiesQuery.CurrentUser = UserProfile;
            var sortDefinition = state.SortDefinitions.FirstOrDefault();
            _companiesQuery.OrderBy = sortDefinition?.SortBy ?? "Id";
            _companiesQuery.SortDirection = (sortDefinition != null && sortDefinition.Descending)
                                      ? SortDirection.Descending.ToString()
                                      : SortDirection.Ascending.ToString();
            _companiesQuery.PageNumber = state.Page + 1;
            _companiesQuery.PageSize = state.PageSize;
            var result = await Mediator.Send(_companiesQuery).ConfigureAwait(false);
            return new GridData<CompanyDto>() { TotalItems = result.TotalItems, Items = result.Items };
        }
        finally
        {
            _loading = false;
        }

    }
    private async Task OnSearch(string text)
    {
        _selectedCompanies.Clear();
        _companiesQuery.Keyword = text;
        await _companiesGrid.ReloadServerData();
    }
    private async Task OnListViewChanged(CompanyListView listview)
    {
        _companiesQuery.ListView = listview;
        await _companiesGrid.ReloadServerData();
    }
    private async Task OnRefresh()
    {
        CompanyCacheKey.Refresh();
        _selectedCompanies.Clear();
        _companiesQuery.Keyword  = string.Empty;
        await _companiesGrid.ReloadServerData();
    }
    private async Task ShowEditFormDialog(string title, AddEditCompanyCommand command)
    {
        var parameters = new DialogParameters<CompanyFormDialog>
            {
                { x=>x._model,command },
            };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Medium, FullWidth = true };
        var dialog = await DialogService.ShowAsync<CompanyFormDialog>(title, parameters, options);
        var state = await dialog.Result;

        if (state != null && !state.Canceled)
        {
            await _companiesGrid.ReloadServerData();
            _selectedCompanies.Clear();
        }
    }
    private void OnDataGridRowClick(CompanyDto dto)
    {
        Navigation.NavigateTo($"/pages/companies/view/{dto.Id}");
    }
    private async Task OnCreate()
    {
        var command = new AddEditCompanyCommand();
        await ShowEditFormDialog(L["New Company"], command);
    }
    private async Task OnCloneCompany()
    {
        var dto = _selectedCompanies.First();
        var command = new AddEditCompanyCommand()
        {
                    Name = dto.Name, 
        VatNumber = dto.VatNumber, 
        Address = dto.Address, 
        Country = dto.Country, 
        Website = dto.Website, 
        Industry = dto.Industry, 

        };
        await ShowEditFormDialog(L["Clone Company"], command);
    }
    private async Task OnEditCompany(CompanyDto dto)
    {
       //var command = Mapper.Map<AddEditCompanyCommand>(dto);
       //await ShowEditFormDialog(L["Edit Company"], command);
       Navigation.NavigateTo($"/pages/companies/edit/{dto.Id}");
    }

    private async Task OnDeleteCompany(CompanyDto dto)
    {
        var contentText = string.Format(ConstantString.DeleteConfirmation, dto.Name);
        var command = new DeleteCompanyCommand(new int[] { dto.Id });
        await DialogServiceHelper.ShowDeleteConfirmationDialogAsync(command, ConstantString.DeleteConfirmationTitle, contentText,async () =>
        {
            await InvokeAsync(async () =>
            {
                await _companiesGrid.ReloadServerData();
                _selectedCompanies.Clear();
            });
        });
    }

    private async Task OnDeleteSelectedCompanies()
    {
        var contentText = string.Format(ConstantString.DeleteConfirmWithSelected, _selectedCompanies.Count);
        var command = new DeleteCompanyCommand(_selectedCompanies.Select(x => x.Id).ToArray());
        await DialogServiceHelper.ShowDeleteConfirmationDialogAsync(command, ConstantString.DeleteConfirmationTitle, contentText,async () =>
        {
            await InvokeAsync(async () =>
            {
                await _companiesGrid.ReloadServerData();
                _selectedCompanies.Clear();
            });
        });
    }

    private async Task OnExport()
    {
        _exporting = true;
        var request = new ExportCompaniesQuery()
            {
                Keyword = _companiesQuery.Keyword,
                CurrentUser = UserProfile,
                ListView = _companiesQuery.ListView,
                OrderBy = _companiesGrid.SortDefinitions.Values.FirstOrDefault()?.SortBy ?? "Id",
                SortDirection = (_companiesGrid.SortDefinitions.Values.FirstOrDefault()?.Descending ?? true) ? SortDirection.Descending.ToString() : SortDirection.Ascending.ToString()
            };
        var result = await Mediator.Send(request);
        await result.MatchAsync(
            async data =>
            {
                await BlazorDownloadFileService.DownloadFileAsync($"{L["Companies"]}.xlsx", result.Data, contentType:"application/octet-stream");
                Snackbar.Add($"{ConstantString.ExportSuccess}", MudBlazor.Severity.Info);
            },
            errors =>
            {
                Snackbar.Add($"{errors}", MudBlazor.Severity.Error);
                return Task.CompletedTask;
            });
        _exporting = false;
    }
    private async Task OnImportData(IBrowserFile file)
    {
        _uploading = true;
        var stream = new MemoryStream();
        await file.OpenReadStream().CopyToAsync(stream);
        var command = new ImportCompaniesCommand(file.Name, stream.ToArray());
        var result = await Mediator.Send(command);
        await result.MatchAsync(
            async data =>
            {
                await _companiesGrid.ReloadServerData();
                Snackbar.Add($"{ConstantString.ImportSuccess}", MudBlazor.Severity.Info);
            }, errors =>
            {
                Snackbar.Add($"{errors}", MudBlazor.Severity.Error);
                return Task.CompletedTask;
            });
        _uploading = false;
    }

}
